---
/* eslint-disable-next-line import/no-unresolved */
import { getCollection, getEntry, getDataEntryById } from "astro:content";
import type { InferGetStaticPropsType } from "astro";
import {
  SarkaraLayout,
  Paper,
  PanelLink,
  Alert,
  Badge,
  Navigation,
  Link,
  useNavigation,
} from "@cieloazul310/astro-sarkara";
import { css } from "@cieloazul310/sarkara-css/css";
import { flex } from "@cieloazul310/sarkara-css/patterns";
import Gallery from "../components/Gallery.astro";
import Iframe from "../components/Iframe.astro";
import YouTube from "../components/YouTube.astro";
import Analytics from "../components/Analytics.astro";
import Ad from "../components/ads/Ad.astro";
import Twitter from "../components/twitter/Twitter.astro";
import Category from "../components/Category.astro";
import { siteMetadata, menu } from "../data";
import { dateString, getCategoryColor } from "../utils";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts", ({ data }) =>
    import.meta.env.PROD ? data.draft !== true : true,
  );

  return allPosts
    .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
    .map((post, index, arr) => {
      const left = index !== 0 ? arr[index - 1] : null;
      const right = index !== arr.length - 1 ? arr[index + 1] : null;

      return {
        params: {
          slug: post.slug,
        },
        props: {
          post,
          left,
          right,
        },
      };
    });
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { post, left, right } = Astro.props;
const navigation = useNavigation(
  { left, right },
  {
    href: (obj) => `/${obj.slug}`,
    primaryText: (obj) => obj.data.title,
    secondaryText: (obj) => dateString(obj.data.date),
  },
);
const entry = await getEntry("posts", post.slug);
const category = await getDataEntryById("category", post.data.category.id);
const categoryType = await getDataEntryById(
  "categoryType",
  category.data.type.id,
);
const { Content } = await entry.render();
---

<SarkaraLayout
  title={post.data.title}
  image={entry.data.featuredImg?.src}
  siteMetadata={siteMetadata}
  menu={menu}
>
  <Analytics slot="top-of-head" />
  <p
    class={css({ textStyle: "headings", fontSize: "lg" })}
    slot="jumbotron-header"
  >
    {dateString(entry.data.date)}
  </p>
  <Paper>
    {
      import.meta.env.DEV && entry.data.draft && (
        <Alert status="warning" title="Draft">
          This post is draft and visible in dev mode only.
        </Alert>
      )
    }
    <Content
      components={{
        Gallery,
        Iframe,
        YouTube,
        PanelLink,
        Alert,
        Ad,
        Twitter,
        a: Link,
      }}
    />
  </Paper>
  <Paper>
    <footer>
      <hgroup>
        <p
          class={flex({
            gap: { base: 0, md: 2 },
            direction: { base: "column", md: "row" },
          })}
        >
          <storng>{dateString(entry.data.date)}</storng>
          {
            entry.data.lastmod &&
              entry.data.date.getTime() !== entry.data.lastmod.getTime() && (
                <em class={css({ fontStyle: "italic" })}>
                  最終更新日{dateString(entry.data.lastmod)}
                </em>
              )
          }
        </p>
        <h2
          class={css({ textStyle: "headings", fontSize: ["lg", "xl", "2xl"] })}
        >
          {post.data.title}
        </h2>
      </hgroup>
      <p>
        <Badge colorPalette={getCategoryColor(categoryType.id)} slot="badge">
          {categoryType.data.name}
        </Badge>
      </p>
    </footer>
  </Paper>
  <Category category={category} />
  <Navigation {...navigation} />
  <Navigation {...navigation} direction="column" slot="sidebar-top" />
</SarkaraLayout>
