---
/* eslint-disable-next-line import/no-unresolved */
import { getDataEntryById, type CollectionEntry } from "astro:content";
import { ArticleListItem, Badge } from "@cieloazul310/astro-sarkara";
import { dateString } from "../utils";

interface Props {
  post: CollectionEntry<"posts">;
}
const { post } = Astro.props;
const category = await getDataEntryById("category", post.data.category.id);
---

<ArticleListItem
  href={`/${post.slug}`}
  title={post.data.title}
  image={post.data.featuredImg?.src}
  imageAlt={post.data.featuredImgAlt}
  imagePlaceholder="Post"
>
  <Badge slot="badge">{category.data.name}</Badge>
  <span slot="headerText">{dateString(post.data.date)}</span>
</ArticleListItem>
