---
/* eslint-disable-next-line import/no-unresolved */
import { getDataEntryById, type CollectionEntry } from "astro:content";
import { ArticleListItem } from "@cieloazul310/astro-sarkara";
import CategoryTypeBadge from "./CategoryTypeBadge.astro";
import { dateString } from "../utils";

interface Props {
  post: CollectionEntry<"posts">;
}
const { post } = Astro.props;
const category = await getDataEntryById("category", post.data.category.id);
const categoryType = await getDataEntryById(
  "categoryType",
  category.data.type.id,
);
---

<ArticleListItem
  href={`/${post.slug}`}
  title={post.data.title}
  image={post.data.featuredImg?.src}
  imageAlt={post.data.featuredImgAlt}
  imagePlaceholder={categoryType.data.name}
>
  <CategoryTypeBadge slot="badge" categoryType={categoryType} />
  <span slot="headerText">{dateString(post.data.date)}</span>
</ArticleListItem>
