---
/* eslint-disable-next-line import/no-unresolved */
import { getEntry, type CollectionEntry } from "astro:content";
import { ArticleListItem } from "@cieloazul310/astro-sarkara";
import { dateString } from "@/utils";
import CategoryTypeBadge from "./CategoryTypeBadge.astro";

interface Props {
  post: CollectionEntry<"post">;
}
const { post } = Astro.props;
const category = await getEntry("category", post.data.category.id);
const categoryType = await getEntry("categoryType", category.data.type.id);
---

<ArticleListItem
  href={`/${post.slug}`}
  title={post.data.title}
  astroImage={post.data.featuredImg}
  imageAlt={post.data.featuredImgAlt ?? post.data.title}
  imagePlaceholder={categoryType.data.name}
>
  <CategoryTypeBadge slot="badge" categoryType={categoryType} />
  <span slot="headerText">{dateString(post.data.date)}</span>
</ArticleListItem>
